/*i like this color darkseagreen - use somewhere*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

#page-wrapper{
    width: 80vw;
    margin: auto;
}

header{
    padding: 1%;
    background-color: #38598b;
    color: white;
    text-shadow: 1px 1px #a2a8d3;
}

#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    width: 70%;
    height: 100vh;
    text-align: center;
    font-size: calc(2px + 1.5vw);
    background-color: #e7eaf6;
}

main img {
    max-width: 35%;
    max-height: 50%;
}

main h3{
    color: #113f67;
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-image: linear-gradient(to top, #38598b, #a2a8d3, #e7eaf6);
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    background-color: #38598b;
    margin: 5% auto;
    width: 80%;
    padding: 4%;
    text-align: center;
    border-radius: 20px;
}

nav a{
    color: #e7eaf6;
    font-size: calc(2px + 1.7vw);
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #38598b;
    color: white;
}

/*calc buttons*/
button {
    background-color: #38598b;
    color: white;
}

/*experience page*/
#experience-content {
    padding-top: 1%;
    text-align: left;
  }

.company {
    font-size: calc(2px + 1.2vw);
    font-weight: bold;
    color: #113f67;
}

.role {
    font-size: calc(2px + 1vw);
    font-weight: bold;
    font-style: italic;
}

.experience-bullets {
    font-size: calc(2px + 0.9vw);
}


@media  screen and (max-width: 1000px) {
    #nav-main {
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    header{
        text-align: center;
    }

    main{
        height: 100vh;
    }
}