/*i like this color darkseagreen - use somewhere*/
*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    margin: auto;
}

header{
    padding: 1%;
    background-color: #38598b;
    color: white;
}

#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    width: 70%;
    height: 125vh;
    text-align: center;
    font-size: calc(2px + 1.5vw);
    background-color: #e7eaf6;
}

main img {
    max-width: 35%;
    max-height: 40%;
}

main h3{
    color: #113f67;
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-color:#a2a8d3;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    background-color: #38598b;
    margin: 5% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
}

nav a{
    color: #e7eaf6;
    font-size: calc(2px + 1.5vw);
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #38598b;
    color: white;
}

@media  screen and (max-width: 1000px) {
    #nav-main {
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    header{
        text-align: center;
    }

    main{
        height: 100vh;
    }
}