*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    margin: auto;
}

#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    width: 70%;
    height: 100vh;
    text-align: center;
    font-size: calc(2px + 1.5vw);
}

main *{
    margin: 2%;
}

nav{
    width: 30%;
    background-color: cornflowerblue;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li{
    border: 3px solid darkseagreen;
    margin: 5% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
}

nav a{
    color: azure;
    font-size: calc(2px + 1.5vw);
    text-decoration: none;
}